body {
    /* background: #5b1711; */
    background: #fafafa;
    color: #010101;
    font-size: small;
}

.btn-logout {
    --bs-btn-color:#010101;
    --bs-btn-bg:#eeaa16;
    --bs-btn-hover-color:#010101;
    --bs-btn-hover-bg:#ffd000;
    --bs-btn-focus-shadow-rgb:225,83,97;
    --bs-btn-active-color:#010101;
    --bs-btn-active-bg:#ffd000;
    --bs-btn-active-shadow:inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color:#c1c1c1;
    --bs-btn-disabled-bg:#ffe572;
}

.clear {
    margin-bottom: 8vh;
}

.row {
    margin: 0 !important;
}

.v-enter-active,
.v-leave-active {
    transition: opacity 0.5s ease;
}
.v-enter-from,
.v-leave-to {
    opacity: 0;
}


.slide-fade-enter-active {
    transition: all 0.1s ease-out;
}
.slide-fade-leave-active {
    transition: all 0.1s cubic-bezier(1, 1, 1, 1);
}
.slide-fade-enter-from,
.slide-fade-leave-to {
    transform: translateX(100%);
    opacity: 1;
}
